<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form th:object="${user}" th:action="@{/signUpUser}" method="post">
        <input type="text" th:field="*{name}"  placeholder="name" required>
        <br>
        <br>
       <input type="tel" th:field="*{contact}" placeholder="contact" required>
       <br>
       <br>
       <input type="text" th:field="*{vaccine}" placeholder="vaccine" required>
       <br>
       <br>
       <select id="idTypes" th:field="*{idtype}" required>
        <option value="aadhar">Addhar card</option>
        <option value="pan">pan card</option>
        <option value="voting">voting card</option>
       
      </select>
      <br>
      <br>
      <button type="submit">Add User</button>
    </form>
</body>
</html>